<!DOCTYPE html>
<html>
<head>
    <title>Прогноз погоди</title>
    <meta charset="utf-8" />
</head>
<body>
    <form method="GET" action="/">
        <input type="submit" value="Користувач" >
    </form>
    <form method="POST" action="/add">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit" value="Зберегти" >
    </form>
        <table>
        <thead><th>Id</th><th>День</th><th>Число</th><th>Місяць</th><th>Рік</th><th>Зранку</th><th>Удень</th><th>Уночі</th><th></th></thead>
        {% for day in days %}
            <tr>
                <td>{{ day.id }}</td>
                <td>{{ day.date.Name }}</td>
                <td>{{ day.date.D }}</td>
                <td>{{ day.date.M }}</td>
                <td>{{ day.date.Y }}</td>
                <td>{{ day.temp.Morn }}</td>
                <td>{{ day.temp.Noon }}</td>
                <td>{{ day.temp.Night }}</td>
                <td>
                    <a href="/up/{{day.id}}/">Оновити</a> | 
                    <a href="/dele/{{day.id}}/">Видалити</a>
                </td>
            </tr>
        {% endfor %}
        </table>
</body>
</html>