<!DOCTYPE html>
<html>
<head>
    <title>Прогноз погоди</title>
    <meta charset="utf-8" />
</head>
<body>
    Повернутися до користувача: http://127.0.0.1:8000/<br/>
    Додати день: http://127.0.0.1:8000/admin/add?Name=Mon&D=5&M=5&Y=2025&Morn=25&Noon=30&Night=24<br/>
    Оновити день: http://127.0.0.1:8000/admin/up?Id=1&Name=Tue&D=7&M=8&Y=2024&Morn=10&Noon=20&Night=15<br/>
    Видалит день: http://127.0.0.1:8000/admin/dele?Id=1<br/>
    {% for data in datas %}
        <p>
            Id: {{data.Id}};
            День: {{ data.Name }}; 
            Число: {{ data.D }}; 
            Місяць: {{ data.M }}; 
            Рік: {{ data.Y }}; 
            Зранку: {{ data.Morn }}; 
            Удень: {{ data.Noon }}; 
            Уночі: {{ data.Night }}
        </p>
    {% endfor %}
</body>
</html>