<!DOCTYPE html>
<html>
<head>
    <title>Прогноз погоди</title>
    <meta charset="utf-8" />
</head>
<body>
    Авторизація адміна: http://127.0.0.1:8000/admin/autor?Passw=123<br/>
    {% for data in datas %}
        <p>
            Id: {{data.Id}};
            День: {{ data.Name }}; 
            Число: {{ data.D }}; 
            Місяць: {{ data.M }}; 
            Рік: {{ data.Y }}; 
            Зранку: {{ data.Morn }}; 
            Удень: {{ data.Noon }}; 
            Уночі: {{ data.Night }}
        </p>
    {% endfor %}
</body>
</html>